.intro-header
	margin 20px 0

.row 
	margin-bottom 5px

.key_basic 
	width 40px

.key_basic_double 
	width 84px

.result 
	margin 0
	text-align right
	font-size 11px

.calc_field 
	border medium none
	box-shadow none !important
	height 20px
	padding 0
	text-align right

.calc_widget 
	width 216px
	margin auto

.result:after 
	content "\00a0"

.widget 
	height 335px
	margin-bottom 20px

.widget .thumbnail 
	height 100%

.down 
	color #d14836

.up 
	color #093

.form-control[readonly] 
	background-color transparent